<p-dialog [header]="config.operation === 'edit' ? 'Edit ' + config.header : 'New ' + config.header" 
          [(visible)]="display"
          [width]="config.width"
          [style]="{width: config.width, height: config.height}"
          (onHide)="onHide()"
          >
    <p-header>
    </p-header>
    
    <div class="row" *ngFor="let field of config.fields">
        <div class="col-lg-6">
            <label>{{ field.label }}</label>
        </div>
        <div class="col-lg-6">
            <input type="text" pInputText [(ngModel)]="data[field.endpoint]" />
        </div>
    </div>

    <p-footer>
        <button type="button" (click)="onSave()">Save</button>
        <button type="button" (click)="onCancel()">Cancel</button>
        <button *ngIf="config.withDelete && config.operation === 'edit'" type="button" (click)="confirm()">Delete</button>
    </p-footer>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>