<p-table
  #dt
  [columns]="config['cols']"
  [value]="data"
  [paginator]="config['paging']"
  [rows]="10"
  [globalFilterFields]="config.globalFF"
  selectionMode="single"
  [(selection)]="selectedRow"
  (onRowSelect)="rowSelected()"
  (onRowUnselect)="rowUnselected()"
>
  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="center">
        <button
          *ngFor="let button of config.buttons"
          (click)="button.callback()"
          [ngClass]="button.icon + ' ' + button.class"
          [disabled]="
            (button.icon.indexOf('edit') !== -1 && editDisabled === false) ||
            (button.icon.indexOf('trash') !== -1 && deleteDisabled === false) || 
            (button.icon.indexOf('edit') === -1 && button.icon.indexOf('trash') === -1)
              ? false
              : true
          "
        >
          {{ button.label }}
        </button>
      </div>
      <div class="center">
        <span>{{ config.header }}</span>
        <input
          type="text"
          pInputText
          size="20"
          placeholder="Search"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto; margin-left: 10px"
          *ngIf="config.withGlobalFilter"
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let col of columns"
        [pSortableColumn]="col.sortable ? col.field : ''"
      >
        {{ col.header }}
        <p-sortIcon
          [field]="col.field"
          ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"
          *ngIf="col.sortable"
        ></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns; let i = index">
        <a
          href="#"
          [ngStyle]="
            col.icon !== undefined
              ? col.icon.clickable
                ? ''
                : { 'pointer-events': 'none' }
              : ''
          "
          ><i
            [ngStyle]="{ color: col.icon.style.color }"
            [ngClass]="col.icon !== undefined ? col.icon.class : ''"
            *ngIf="col.icon !== undefined ? col.icon.class !== '' : false"
          ></i
        ></a>
        {{
          col.icon !== undefined
            ? col.icon.class !== "" && col.icon.text === ""
              ? ""
              : col.icon.class !== "" && col.icon.text !== ""
              ? col.icon.text
              : ""
            : preprocessColumnField(rowData[col.field], i)
        }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        {{ config.emptyMessage }}
      </td>
    </tr>
  </ng-template>
</p-table>
