<p-table
  #dt
  [columns]="config.cols"
  [value]="data"
  [paginator]="config.paging"
  [rows]="10"
  [globalFilterFields]="config.globalFF"
  selectionMode="single"
  [(selection)]="selectedRow"
  (onRowSelect)="rowSelected()"
  (onRowUnselect)="rowUnselected()"
  [autoLayout]="true"
>
  <ng-template pTemplate="caption">
    <div class="caption">
      <div class="center">
        <button
          *ngIf="config.withAdd"
          [ngClass]="addButton.icon + ' ' + addButton.class"
          [disabled]="addButton.disabled"
          (click)="addButton.callback()"
        ></button>
        <button
          *ngIf="config.withEdit"
          [ngClass]="editButton.icon + ' ' + editButton.class"
          [disabled]="editButton.disabled"
          (click)="editButton.callback()"
        ></button>
      </div>
      <div class="center">
        <span>{{ config.header }}</span>
        <input
          type="text"
          pInputText
          size="20"
          placeholder="Search"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto; margin-left: 10px"
          *ngIf="config.withGlobalFilter"
        />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let col of columns"
        [pSortableColumn]="col.sortable ? col.field : ''"
      >
        {{ col.header }}
        <p-sortIcon
          [field]="col.field"
          ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"
          *ngIf="col.sortable"
        ></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns; let i = index">
        <a
          [routerLink]=""
          [ngStyle]="
            col.icon !== undefined
              ? col.type === 'status'
                ? { 'pointer-events': 'none' }
                : ''
              : ''
          "
          ><i
            [ngStyle]="{
              color:
                col.type === 'run'
                  ? rowData['status'] === 'scheduled to run'
                    ? 'red'
                    : 'green'
                  : col.icon.style !== undefined
                  ? col.icon.style.color
                  : rowData['status'] === 'scheduled to run'
                  ? 'yellow'
                  : 'red'
            }"
            [ngClass]="
              col.type === 'run'
                ? rowData['status'] === 'scheduled to run'
                  ? 'fas fa-stop'
                  : 'fas fa-play'
                : col.icon !== undefined
                ? col.icon.class
                : ''
            "
            *ngIf="col.icon !== undefined || col.type === 'run' ? true : false"
            (click)="onIconPressed(col.type, rowData)"
          ></i
        ></a>
        <button *ngIf="col.type === 'dynamic-button'" [ngClass]="col.button.class" (click)="showDynamicDialog(rowData.id, col.button)"></button>
        {{
          col.icon !== undefined
            ? col.icon.class !== "" && col.icon.withText === false
              ? ""
              : col.icon.class !== "" && col.icon.withText
              ? "- " +
                (rowData["status"] === "scheduled to run"
                  ? "pending"
                  : "stopped")
              : ""
            : preprocessColumnField(rowData[col.field], i)
        }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        {{ config.emptyMessage }}
      </td>
    </tr>
  </ng-template>
</p-table>

<app-form-dialog
  #fd
  [config]="config.formDialogConfig"
  (entryAdded)="loadData()"
  *ngIf="config.formDialogConfig !== undefined"
></app-form-dialog>

<p-toast [style]="{marginTop: '80px'}"></p-toast>