<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" [ngClass]="active ? 'active' : ''">
    <div class="sidebar-header" style="text-align: center">
      <h3>{{ title }}</h3>
      <strong>{{ abbreviation }}</strong>
      <button
        type="button"
        id="sidebarCollapse"
        class="btn btn-info"
        (click)="active = !active"
      >
        <i class="fas fa-align-left"></i>
      </button>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a [routerLink]="['/login']">
          <i class="fas fa-sign-out-alt"></i>
          Sign out
        </a>
      </li>
      <hr />
      <li class="active">
        <a href="#">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid"></div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
