<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="login"
        [(ngModel)]="credentials.username"
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="password"
        [(ngModel)]="credentials.password"
      />
      <input
        type="button"
        class="fadeIn fourth"
        value="Log In"
        (click)="onLogin()"
      />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
